@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Programming Club</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Technologies</h2>
        <p>
             MVC project using technologies: 
            <ul>
                <li>C#</li>
                <li>LINQ to SQL</li>
                <li>MSSQL Database</li>
            </ul>

        </p>
    </div>
    <div class="col-md-4">
        <h2>Tools</h2>
        <p>
            <ul>
                <li>Visual Studio Community</li>
                <li>SQL Management Studio</li>
                <li>Notepad++</li>
            </ul></p>
    </div>
    <div class="col-md-4">
        <h2>Source Control</h2>
        <p><a href="https://github.com/florena99/ProgrammingClub">Github</a></p>

    </div>
</div>